.btn {
    background: $color-tertiary;
    color: $color-white;
    outline: none;
    border: none;
    font-family: "poppins-regular";
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background: darken($color-tertiary, 3%);
    }
  
    &:active {
      box-shadow: 0 0 0 0.2rem rgba($color-tertiary, 0.3);
    }
  
    &:disabled {
      background: $color-grey-dark;
      cursor: not-allowed;
    }
  
    
  }