.btn {
    background: $color-primary;
    color: $color-white;
    outline: none;
    border: none;
    font-family: "poppins-regular";
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background: darken($color-primary, 3%);
    }
  
    &:active {
      box-shadow: 0 0 0 0.2rem rgba($color-primary, 0.3);
    }
  
    &:disabled {
      background: $color-grey-dark;
      cursor: not-allowed;
    }
  
    &--primary {
      height: 4rem;
      padding: .85rem 2rem;
      border-radius: 5px;
      box-shadow: 0 4px 6px 0 rgba($color-black, .1);
    }
  }