.template {
    &__panel {
        width: 37rem;
        min-height: calc(100vh - 8rem);
        background-color: $color-grey-light-1;
        padding: 1rem;
    }

    &__draft {
        width: calc(100vw - 37rem);
        height: calc(100vh - 8rem);
    }
}