@font-face {
    font-family: "public-sans-bold";
    src: url("src/utils/fonts/public-sans/PublicSans-Bold.otf");
}

@font-face {
    font-family: "public-sans-light";
    src: url("src/utils/fonts/public-sans/PublicSans-Light.otf");
}

@font-face {
    font-family: "inter-bold";
    src: url("src/utils/fonts/inter/Inter-Bold.otf");
}

@font-face {
    font-family: "inter-bold";
    src: url("src/utils/fonts/inter/Inter-Regular.otf");
}

@font-face {
    font-family: "inter-medium";
    src: url("src/utils/fonts/inter/Inter-Medium.otf");
}

@font-face {
    font-family: "inter-light";
    src: url("src/utils/fonts/inter/Inter-Light-BETA.otf");
}

@font-face {
    font-family: "inter-semi-bold";
    src: url("src/utils/fonts/inter/Inter-SemiBold.otf");
}


@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./abstracts/mixins";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

@import "./components/button";
@import "./components/customNode";
@import "./components/template";
@import "./components/node";
@import "./components/form";
@import "./components/switch";

@import "./layout/header";
@import "./layout/grid";

@import "./pages/template";

@import "./vendors/reactflow";